.upper-head {
    margin-top: 50px;
    margin-left: 75px;
    margin-bottom: 25px;
}

body {
    background-image: "./img/img-9340_orig.jpg";
}

header {
    margin-bottom: 2rem;
}

li {
    margin-left: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #249fcf;
}

.para {
    text-align: center;
    font-size: 24px;
    color: #818181;
    background-color: rgba(255, 255, 255, 0.849);
}

.cont-yeet {
    margin-top: 40px;
}

.d-flex {
    flex-wrap: wrap;
}

footer {
    margin-top: 50px;
    padding-top: 175px;
    padding-bottom: 100px;
    font-size: 12px;
    color: #818181;
}

.footer {
    background-color: rgba(0, 0, 0, 0.151);
}

.div-lines {
    margin-top: 50px;
    border-bottom-style: solid;
    border-color: #2ca4d3a4;
    margin-bottom: 25px;
}

.img2 {
    border-radius: 15px;
    padding: 10px;
    width: 450px;
    height: 350px;
}

.img2:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.CEO {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 700px;
    width: 650px;
    border-style: solid;
    border-color: #249fcf;
}

.word-ceo {
    font-size: 18px;
    text-align: left;
}

h3 {
    text-align: center;
}